.home {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
}

.home_row {
  display: flex;
  z-index: -1;
  margin-left: 5px;
  margin-right: 5px;
}
.home_image {
  /* object-fit: cover; */
  width: 100%;
  z-index: -1; /* img will be behind anything i.e., stays backside*/
  margin-bottom: -150px; /*to creep into the bottom*/
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /* to appear transparent color */
}
